

.body-bg-landing{
    background-image: url(images/bg-3.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated;
    min-width: 100%;
    min-height: 100vh;
}
.body-bg{
    background-image: url(images/bg-9.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated;
    min-width: 100%;
    min-height: 100vh;
}

/* 
Show the image as background to display: block;
*/
.bgImage {
    position: fixed;
    top: 0;
    left: 0;/* Preserve aspet ratio */
    min-width: auto;
    min-height: auto;
    image-rendering: pixelated;
    background-size: cover;
}
.bgOverlay {
    position: relative;
}

.whiteText {
    color: white;
}


.avatar, avatar-small {
  border-radius: 99%;
  border: 1px solid #ddd;
  width: 55px;
  height: 55px;
  margin: 0px;
  }
.avatar-small {
   border-radius: 99%;
   border: 0px solid #fff;
   width: 35px;
   height: 35px;
   margin: 0px;
  }

  /*  Select User item template Ends */
.circle
{
  /* border-radius:50%; */
  color:#fff;
  width:40px;
  height:40px;
  line-height: 35px;
  text-align:center;
  background: dimgrey;
  border-radius: 50% !important;
  /* border-bottom-right-radius: 0 !important; */
}
 
.transperent-bg{
  /*background-color: transparent !important;*/
}

.height-100{
    min-height: 100vh;
}
.height-90{
    min-height: 90vh;
}
.height-80{
    min-height: 80vh;
}

@-webkit-keyframes rotating {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotating {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes rotating {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes rotating {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes rotating {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}


.rotating {
    -webkit-animation: rotating 2s infinite linear;
    -moz-animation: rotating 2s infinite linear;
    -o-animation: rotating 2s infinite linear;
    -ms-animation: rotating 2s infinite linear;
    animation: rotating 2s infinite linear;
}

.icon-blank::before{
      width: .7em; content: " ";    
}

.thumbnail-card{
  border: 1px solid silver;
  height: 110px;
  width: 130px;
  padding:5px;
  border-radius: 50%;
}
.thumbnail-card.square{
  border-radius: 0%;
}


.thumbnail-img{
  height:100px;
  width:100px;
  border-radius: 50px;
  margin:0;
}
.thumbnail-img.square{
  border-radius: 0px;
    height:100px;
    width:120px;

}
.margin5{
  margin:5px !important;
}
.bg{
  background-image: url(./images/bg-5.jpg);  
}
.bg-red{
    background-color: red;
}

.bg-orangered{
    background-color: #cc0000;
}
.bg-darkorange{
    background-color: #ff6600;
}
.bg-orange{
    background-color: #cc6600;
}   
.bg-yellow{
    background-color: #ffff66;
}

.bg-gray-transerent{
    background-color: rgba(0,0,0,0.1);
}


/**
  Chips 
*/

.chipsContactChips md-content.autocomplete {
  min-height: 250px; }
  .chipsContactChips md-content.autocomplete input {
    min-width: 400px; }
.chipsContactChips .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }
.chipsContactChips .contact-item {
  box-sizing: border-box; }
  .chipsContactChips .contact-item.selected {
    opacity: 0.5; }
    .chipsContactChips .contact-item.selected h3 {
      opacity: 0.5; }
  .chipsContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px; }
    .chipsContactChips .contact-item .md-list-item-text h3 {
      margin: 0 !important;
      padding: 0;
      line-height: 1.2em !important; }
    .chipsContactChips .contact-item .md-list-item-text h3, .chipsContactChips .contact-item .md-list-item-text p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  @media (min-width: 960px) {
    .chipsContactChips .contact-item {
      float: left;
      width: 33%; } }
.chipsContactChips md-contact-chips {
  margin-bottom: 10px; }
.chipsContactChips .md-chips {
  padding: 5px 0 8px; }
.chipsContactChips .fixedRows {
  height: 250px;
  overflow: hidden; }


.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

.table{
    color: #222;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.table-row{
    display:  table-row;
}

.table-cell{
    border-bottom: 1px solid rgba(0,0,0,0.065);
    display: table-cell;
    padding: 2px;
    vertical-align: middle;
}

.rotate-90{
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotate-180{
    /* Safari */
    -webkit-transform: rotate(-180deg);
    /* Firefox */
    -moz-transform: rotate(-180deg);
    /* IE */
    -ms-transform: rotate(-180deg);
    /* Opera */
    -o-transform: rotate(-180deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rotate-270{
    /* Safari */
    -webkit-transform: rotate(-270deg);
    /* Firefox */
    -moz-transform:rotate(-270deg);
    /* IE */
    -ms-transform: rotate(-270deg);
    /* Opera */
    -o-transform: rotate(-270deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Form style */
.md-input-container {
  margin: 5px 0;
}


.material-icons.type_collection:before,
.material-icons-lg.type_collection:before
 {
  content: '\e617';
}
.material-icons.type_topic:before,
.material-icons-lg.type_topic:before
 {
  content: '\e431';
}
.material-icons.type_document:before,
.material-icons-lg.type_document:before
 {
  content: '\e0c9 ';
}
.material-icons.type_calendar:before,
.material-icons-lg.type_calendar:before
 {
  content: '\e878';
}
.material-icons.type_demand:before,
.material-icons-lg.type_demand:before
 {
  content: '\e862';
}
.material-icons.type_transacton:before,
.material-icons-lg.type_transacton:before
 {
  content: '\e227';
}
.material-icons.type_form:before,
.material-icons-lg.type_form:before
 {
  content: '\e85d';
}
.material-icons.type_task:before,
.material-icons-lg.type_task:before
 {
  content: '\e7f7';
}