<md-dialog aria-label="Edit Asset"  flex="80" >
    <h1>Edit Asset</h1>
    <form >
        <md-dialog-content>
            <div layout="row" flex>
                <div layout="row" flex="50">
                    preview
                </div>
                <div layout="row" fex="50">
                    Metadata
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="save()" >
                Save
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>  
    </form>
</md-dialog>