<div md-dialog ng-controller="assetEditController">
<!--<md-dialog aria-label="Edit Asset"  flex="80" >-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2></h2>
            <span flex></span>
            <md-switch ng-model="asset.Publish" aria-label="Publish now" flex>
                Publish now
            </md-switch>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <form >
        <div >
            <div layout="row" flex>
                <div layout="column" flex="33" layout-padding>
                    <md-input-container>
                        <md-select ng-model="asset.AssetCategory" placeholder="Select a Category" >
                            <md-option ng-value="c" ng-repeat="c in categories track by c._id">{{ c.DisplayName }}</md-option>
                        </md-select>
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised  md-primary md-icon-button" ngf-select ng-model="file" >
                            <i class="material-icons">file_upload</i>
                        </md-button>
                        <md-button ng-if="asset.Urls!=null && asset.Urls.length > 0" class="md-raised  md-primary md-icon-button">
                            <i class="material-icons">remove_red_eye</i>
                        </md-button>
                    </div>
                    <span>{{file.name||asset.Urls[0]}}</span>
                    <ez-image-upload img="asset.Thumbnail" thumbnail-class="'square'"></ez-image-upload>
                    
                    
                    
                </div>
                <div layout="column" flex layout-padding>
                    <!--category-->    
                                
                    <md-input-container class="md-block" flex>
                        <label>Title</label>
                        <input ng-model="asset.Name">
                    </md-input-container>
                    <md-input-container class="">
                        <label>Description</label>
                        <textarea ng-model="asset.Description" md-maxlength="2000" rows="3" ></textarea>
                    </md-input-container>
                
                    <div layout="row" layout-align="left center">
                        <span flex="20">Activate On</span>
                        <md-datepicker class="transperent-bg" name="activateOn" ng-model="asset.ActivateOn" md-placeholder="Activate on" flex="40" ></md-datepicker>
                        
                        <md-switch ng-model="asset.neverExpire" aria-label="Switch 1" flex="20">
                        <span ng-if="asset.neverExpire"> Expire On</span>
                            <span ng-if="!asset.neverExpire"> Never expire</span>
                        </md-switch>
                         
                    </div>
                    <div layout="row" layout-align="left center" ng-if="!asset.neverExpire">
                        <span  flex="20">Expire On</span>
                         <md-datepicker ng-if="!asset.neverExpire" class="transperent-bg"  name="expireOn" ng-model="asset.ExireOn" md-placeholder="Expire on" flex="40"></md-datepicker>
                        
                    </div>
                    <div layout="row" layout-align="left center">                
                        <md-switch ng-model="asset.AllowComment" aria-label="Switch 1" flex>
                            Allow Comments
                        </md-switch>
                        <md-switch ng-model="asset.AllowLike" aria-label="Switch 1" flex>
                            Allow Likes
                        </md-switch>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row">
            <span flex></span>
            <md-button ng-click="saveAsset()" >
                Save
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </div>  
    </form>
<!--</md-dialog>-->
</div>