<div  ng-controller="groupsController">
    
    <div layout="column" ng-cloak class="">
		<md-content class='md-padding content-height transperent-bg' >
			<md-grid-list md-cols="4" md-cols-xs="2" md-cols-sm="3" md-cols-gt-md="4" 
				md-row-height="1:1" md-gutter="4px">
				<md-grid-tile ng-repeat="g in groupList"
											md-colspan-sm="1"
											ng-class="" 
											style="background-image: url({{g.thumbnail}}); background-size: cover;"
											class="md-whiteframe-5dp"
											ng-click="openBoard(g)">
					<md-grid-tile-footer><h3>{{g.name}}</h3></md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>
		</md-content>
    </div>    
        
</div>