        
<div  ng-cloak ng-controller="assetEditController" class="" >
    <div aria-label="asset" layout="row" flex layout-align="center" >
        <md-container flex="80">
            <md-card>
                <md-card-title>
                    <div layout="row" flex layout-align="center center">
                        <md-card-title-text>
                            <md-input-container class="">
                                <label>Name</label>
                                <input class="md-headline" ng-model="asset.Name" flex="80"
                            </md-input-container>
                        </md-card-title-text>
                        <span>
                            <time ng-show="asset.UpdatedOn">
                                <span>Last Updated : {{  asset.UpdatedOn | amCalendar }}</span>
                            </time>
                        </span>
                    </div>
                </md-card-title>
                <md-card-content>
                    <form >
                        <div layout="column">
                            <div layout="row" flex class="bg-gray-transerent">
                                <div layout="column"  layout-padding>
                                    <!--<md-input-container>
                                        <md-select ng-model="asset.AssetType" ng-model-options="{trackBy: '$value.Name'}">
                                            <md-option ng-value="c" ng-repeat="c in types">{{c.DisplayName}}</md-option>
                                        </md-select>
                                    </md-input-container>-->
                                    
                                    <div layout="row" layout-align="center center">
                                        <div class="bg-yellow"
                                            ngf-drop="" ng-model="asset.file" ngf-drag-over-class="'dragover'" ngf-multiple="false"
                                            ngf-allow-dir="false" ngf-pattern="'.png,.jpg,.gif,.jpeg,.mov,.pdf,.mp4,.mp3'">
                                            
                                        </div>
                                        
                                        <md-button class="md-raised  md-primary md-icon-button" 
                                            ngf-select ng-model="asset.file">
                                            <i class="material-icons">file_upload</i>
                                        </md-button>
                                        <md-button ng-if="asset.Urls!=null && asset.Urls.length > 0" class="md-raised  md-primary md-icon-button">
                                            <i class="material-icons">remove_red_eye</i>
                                        </md-button>
                                    </div>
                                    <span>{{file.name}}</span>
                                    <ez-image-upload img="asset._thumbnails[0] || asset.Thumbnail" thumbnail-class="'square'"></ez-image-upload>
                                </div>
                                <div layout="column" flex layout-padding>
                                    <md-input-container class="">
                                        <label>Description</label>
                                        <textarea ng-model="asset.Description" md-maxlength="2000" rows="3" ></textarea>
                                    </md-input-container>
                                
                                    <div >
                                        <span flex="20" class="">Expiry</span>
                                        <div layout="row" layout-align="left center">
                                            
                                            <md-datepicker class="transperent-bg" name="activateOn" ng-model="asset.ActivateOn" md-placeholder="Activate on" flex="40" ></md-datepicker>
                                            <md-switch ng-model="asset.neverExpire" aria-label="Switch 1" flex="20">
                                                <span ng-if="asset.neverExpire"> Never Expire</span>
                                                <span ng-if="!asset.neverExpire"> Expire On</span>
                                            </md-switch>
                                            <md-datepicker ng-if="!asset.neverExpire" class="transperent-bg"  name="expireOn" ng-model="asset.ExpireOn" md-placeholder="Expire on" flex="40"></md-datepicker>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="left center">                
                                        <md-switch ng-model="asset.AllowComment" aria-label="Switch 1" flex>
                                            Allow Comments
                                        </md-switch>
                                        <md-switch ng-model="asset.AllowLike" aria-label="Switch 1" flex>
                                            Allow Likes
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div ez-expando expando-title="Accessible to Members : {{asset.Accessibility.length || 'All'}}">
                                <div  class=" md-card chipsContactChips">
                                    <md-content class="md-padding autocomplete" layout="column">
                                        <md-contact-chips
                                            ng-model="tempData.Accessibility"
                                            md-contacts="querySearch($query)"
                                            md-contact-name="_name"
                                            md-contact-image="Picture"
                                            md-contact-email="UserName"
                                            placeholder="Add members"
                                            filter-selected="true"
                                            md-separator-keys="separatorKeys">
                                        </md-contact-chips>
                                    </md-content>
                                </div>
                            </div>
                    
                            <md-divider></md-divider>
                            <div ng-switch="asset.AssetTypeId">
                                <div ng-switch-when="type_collection">
                                    <h2>Collection</h2>    
                                </div>
                                <div ng-switch-when="type_event">
                                    <h2>Event</h2>    
                                </div>
                                <div ng-switch-when="type_task">
                                    <h2>Task</h2>    
                                    <div ez-expando expando-title="Assigned to : {{asset.Task.Owners.length || 'Not set'}}">
                                        <div  class=" md-card chipsContactChips">
                                            <md-content class="md-padding autocomplete" layout="column">
                                                <md-contact-chips
                                                    ng-model="tempData.Owners"
                                                    md-contacts="querySearch($query)"
                                                    md-contact-name="_name"
                                                    md-contact-image="Picture"
                                                    md-contact-email="UserName"
                                                    placeholder="Add Assignee"
                                                    filter-selected="true"
                                                    md-separator-keys="separatorKeys">
                                                </md-contact-chips>
                                            </md-content>
                                        </div>
                                    </div>
                                    <div>
                                        <md-input-container class="md-block" flex-gt-sm flex="35">
                                            <label>Status</label>
                                            <md-select ng-model="asset.Task.TaskStatus">
                                                <md-option ng-repeat="s in taskStatuses">
                                                    {{s}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <div layout="column"  >
                                            <h3>Updates</h3>
                                            <div ng-repeat="u in asset.Task.Updates track by $index">
                                                <span>{{u.Update}}</span>
                         `                       <span ng-show=" u.UpdatedBy != null">{{" Updated by :" + u.UpdatedBy }}</span>
                                                <span ng-show=" u.UpdatedOn != null"> On : {{  u.UpdatedOn | amCalendar }}</span>
                                                <md-button class="md-raised  md-primary md-icon-button" ng-click="editUpdate(u)"> 
                                                    <i class="material-icons">add</i>
                                                </md-button>  
                                            </div>
                                            <div ng-show="asset.Task.Updates == null || asset.Task.Updates.length <= 0">
                                                <span>No updates available</span>
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <md-input-container class=""  flex="75">
                                                <label>Enter update</label>
                                                <textarea ng-model="tempData.taskUpdate" md-maxlength="2000" rows="3"  ></textarea>
                                            </md-input-container>
                                              
                                            <md-button class="md-raised  md-primary md-icon-button" ng-click="addUpdate()"> 
                                                <i class="material-icons">add</i>
                                            </md-button>  
                                            <pre>{{tempData.taskUpdate}}</pre>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div ng-switch-when="type_demand">
                                    <h2>demand</h2>    
                                </div>
                                <div ng-switch-when="type_transaction">
                                    <h2>transaction</h2>    
                                </div>
                                <div ng-switch-when="type_questionnaire">
                                    <h2>Form</h2>    
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <ez-json-viewer jsonobj="asset"></ez-json-viewer>
                    <md-button ng-click="saveAsset()" >Save</md-button>
                    <md-button ng-click="cancel()">Cancel</md-button>
                </md-card-actions>

            </md-card>
        <md-container>
    </div>
</div>
<!-- comment dialog template-->
<script type="ng-template">
</script>
<!-- </md-bottom-sheet> -->