<div cg-busy="promices.assetList" ng-controller="assetLstController" cg-busy="promices.groupDetail" >
    <md-toolbar class=""  >
		  <div class="md-toolbar-tools">
            <ez-thumb img="group.Thumbnail" text="group.Name"></ez-thumb>
            <span>{{group.Name}}</span>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="save" ui-sref="home.group.detail">
				<i class="material-icons">info</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="save" ui-sref="home.group.assets">
				<i class="material-icons">view_list</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="save" ui-sref="home.group.analytics">
            	<i class="material-icons">assessment</i>
            </md-button>
            <md-divider ></md-divider>
            <md-button class="md-icon-button" aria-label="save" ng-click="save()">
                    <i class="material-icons">save</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Cancel" ng-click="cancel()">
                    <i class="material-icons">cancel</i>
            </md-button>
            <div flex></div>
            
		  </div>
    </md-toolbar>
    <md-button class="md-fab md-fab-top-right" aria-label="Add" ng-click="createAsset()">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
    <div layout-padding>
        <div class="table">
            <div class="table-row" layout="row" >
                <div class="table-cell" flex="5">
                    <md-checkbox aria-label="Select All"
                                    ng-model="isAllChecked"
                                    ng-change="selectAllChecked()"
                                    md-indeterminate>
                    </md-checkbox>
                </div>
                <div class="table-cell" flex="5">
                    <!--thumb-->
                </div>
                <div class="table-cell" flex="50"><h4>Name</h4></div>
                <div class="table-cell" flex="15"><h4>Created By</h4></div>
                <div class="table-cell" flex="10"><h4>Updated On</h4></div>
                <div class="table-cell" flex="15"><h4>Actions</h4></div>
            </div>
        </div>

        <md-content class="transperent-bg" flex layout layout-align="center" style="height:60vh;">
            <div layout="column" class="table">
                <div class="table-row" layout="row" ng-repeat="asset in assets"  >
                    <div class="table-cell" flex="5">
                        <md-checkbox aria-label="Select" ng-checked="asset.__isSelected" ng-click="toggle(asset)">
                        </md-checkbox>
                        <span>{{$index + 1}}</span>
                    </div>
                    <div class="table-cell" flex="5" layout="row" >
                        <ez-thumb img="asset.Thumbnail" text="asset.Name"></ez-thumb>
                        
                    </div>
                    
                    <div  class="table-cell" flex="50" layout="row" >
                        <span>{{asset.AssetType.DisplayName}}
                        {{asset.Name}}</span>
                    </div>
                    <div class="table-cell" flex="15">{{asset.CreatedBy.Name}}</div>
                    <div class="table-cell" flex="10">
                        <time title="{{ asset.UpdatedOn | amDateFormat: 'dddd, Do MMM YYYY, h:mm a' }}">
                            <span>{{ asset.UpdatedOn | amCalendar }}</span>
                        </time>
                    </div>
                    <div class="table-cell" flex="15">
                        <md-button class="md-icon-button" aria-label="view" ng-click="view(asset)">
                                <i class="material-icons">view</i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="edit" ng-click="edit(asset)">
                                <i class="material-icons">edit</i>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-content>
    </div>            
</div>