.expando__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

expando__card.img {
  max-width: 100%;
  height: 100px;
}

.expando {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.expando--wrap {
  position: relative;
  width: 100%;
}

.expando__icon {
  
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  text-align: center;
  
}
.expando__icon svg {
  height: 24px;
  vertical-align: text-bottom;
  width: 24px;
  fill: white;
}


.expando__card {
  border-radius: 2px;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  height: auto;
  
  margin: 0 auto;
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  -webkit-transform: scale(0) translateZ(0);
          transform: scale(0) translateZ(0);
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  z-index: 1;
  background: white;
  opacity: 0;
}

.expando__icon.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.expando__card.active {
  height: auto;
  padding: 48px;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: 1;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
