<div  class="body-bg"  ng-controller="homeController" md-theme="{{themes[theme]}}" md-theme-watch="true"  >
    <!--header-->
    <section layout="column" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
            <md-toolbar class="md-tall md-hue-2">
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <div layout="row">
                        <img src ng-src="{{user.Picture}}" class="md-avatar thumbnail-img"  md-click="editProfile()" /> 
                        <div>{{user.FirstName}} {{user.LastName}}</div>
                    </div>
                    <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
                        <div flex></div>
                        <md-button class="md-icon-button" aria-label="Menu" ng-click="editProfile()">
                            <i class="material-icons">settings</i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Menu" ng-click="logoff($event)">
                            <i class="material-icons">input</i>
                        </md-button>
                    </h2>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item  >
                    <md-list-content  ng-click="toggleLeft()"  ui-sref="home.dashboard" md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="dashboard"></ng-md-icon>
                        </div>
                        <div class="">Dashboard
                        </div>
                    </md-list-content>
                </md-list-item >
                <md-list-item  >
                    <md-list-content  ng-click="toggleLeft()"  ui-sref="home.assets"  md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="people"></ng-md-icon>
                        </div>
                        <div class="">Assets
                        </div>
                    </md-list-content>
                </md-list-item >
                <md-list-item  >
                    <md-list-content  ng-click="toggleLeft()"  ui-sref="home.groups"  md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="group"></ng-md-icon>
                        </div>
                        <div class="">Groups
                        </div>
                    </md-list-content>
                    </md-list-item >
                <md-divider></md-divider>
                    <md-subheader ui-sref="account.users"  aria-label="goups">
                        <div layout="row">

                            <div >
                            <ng-md-icon icon="group"></ng-md-icon>
                            </div>
                            <div>Users</div>
                        </div>
                    </md-subheader>
                <md-divider></md-divider>
                <md-list-item>
                    <md-button ng-click="nextTheme()">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">

                        <ng-md-icon icon="format_color_fill"></ng-md-icon>
                        </div>
                        <div class="">Change color
                        </div>
                    </md-item-content>
                    </md-button>
                </md-list-item>
            
            </md-list>
        </md-sidenav>
    </section>
    <!--view for dashbaord, assets, groups-->
    <header>
        <md-toolbar >
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
                    <ng-md-icon icon="menu"></ng-md-icon> 
                </md-button>
                <span >Collaboration</span>
                <span flex></span>

                <img src ng-src="{{user.Picture}}" class="md-avatar avatar-small"  md-click="editProfile()" />
            </div>
       </md-toolbar>
   </header>
   <main>
    <div  ui-view style="height:85vh">

    </div>
    
   </main>
<!--    <footer  style="background-color:White">
        <div layout="column" layout-align="center center">
            <span>Colaboration platform v1.5</span>
            <span>Colaboration platform v1.5</span>
        </div>
    </footer> -->
   
   
</div>
