<md-content class="transperent-bg md-caption" layout="column" flex >
    <div  class="body-bg"  ng-controller="homeController" md-theme="{{themes[theme]}}" md-theme-watch="true"  
    layout="column" flex style="height:95vh;" cg-busy="promices.groupsPromice" >
        <!--header-->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-tall " md-scroll-shrink="true" class="md-hue-2">
                
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <div layout="row">
                        <img src ng-src="{{user.Picture}}" class="md-avatar thumbnail-img"  md-click="editProfile()" /> 
                        <div>{{user.firstName}} {{user.lastName}}</div>
                    </div>
                    <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
                        <div flex></div>
                        <md-button class="md-icon-button" aria-label="Menu" ng-click="editProfile()">
                            <i class="material-icons">settings</i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Menu" ng-click="logoff($event)">
                            <i class="material-icons">input</i>
                        </md-button>
                    </h2>
                </div>
            </md-toolbar>
       </md-sidenav>
    <!--view for dashbaord, assets, groups-->

        <md-toolbar md-scroll-shrink="false " md-scroll-shrink="0.5"  class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSideBar('left')"> 
                    <i class="material-icons">menu</i>
                </md-button>
                <div layout="row">
                    <span>{{mainTitle || 'Collaborate'}}</span>
                </div>
                <span flex></span>
                
<!--                 <md-fab-speed-dial md-direction="left" md-open="false" class="md-scale">

                    <md-fab-trigger>
                      <md-button aria-label="menu" class="md-icon-button " >
                        <i class="material-icons">more_vert</i>
                      </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                      <md-button aria-label="Logoff" class="md-fab md-raised md-mini" ng-click="logoff()" >
                        <i class="material-icons">input</i>
                      </md-button>
                      <md-button aria-label="theme" class="md-fab md-raised md-mini" ng-clik="nextTheme()">
                        <i class="material-icons">format_color_fill</i>    
                      </md-button>
                      <md-button aria-label="settings" class="md-fab md-raised md-mini" ng-clik="settings()">
                        <i class="material-icons">settings</i> 
                      </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial> -->
                <md-button class="md-icon-button" aria-label="Menu" ng-click="openNotification()">
                    <i class="material-icons">add_alert</i>
                </md-button>
            </div>
        </md-toolbar>

        <div layout="row" flex>
             <md-sidenav class="md-sidenav-left  " md-component-id="left"
                md-is-locked-open="$mdMedia('gt-lg')"  >
                <md-toolbar layout="row" class="">
                  <div class="md-toolbar-tools">
                        <md-menu>
                            <md-button class="md-raised md-accent" ng-click="$mdOpenMenu($event)">Create...</md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="createGroup($event)">
                                        <div layout="row" layout-align="left center">
                                            <i class="material-icons">collections_bookmark</i>
                                            Group
                                        </div>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-menu>
                                            <md-button ng-click="$mdOpenMenu()">New...</md-button>
                                            <md-menu-content>
                                                <md-button ng-click="createNewAsset('type_collection', $event)">
                                                    <div layout="row" layout-align="left center">
                                                        <i class="material-icons">collections_bookmark</i>
                                                        Topic
                                                    </div>
                                                </md-button>
                                                <md-menu-item>
                                                    <md-button ng-click="createNewAsset('type_document',$event)">
                                                        <div layout="row" layout-align="left center">
                                                            <i class="material-icons">message</i>
                                                                Message/Document
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="createNewAsset('type_task', $event)">
                                                        <div layout="row" layout-align="left center">
                                                            <i class="material-icons">notifications_active</i>
                                                                Work Item
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="createNewAsset('type_form' ,$event)">
                                                        <div layout="row" layout-align="left center">
                                                            <i class="material-icons">assignment</i>
                                                                Form
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="createNewAsset('type_calendar', $event)">
                                                        <div layout="row" layout-align="left center">
                                                            <i class="material-icons">event</i>
                                                                Calendar Event
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="createNewAsset('type_demand', $event)">
                                                        <div layout="row" layout-align="left center">
                                                            <i class="material-icons">assignment_turned_in</i>
                                                                Deamad/Requst
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="createNewAsset('type_transaction', $event)">
                                                        <div layout="row" layout-align="left center">
                                                            <i class="material-icons">attach_money</i>
                                                                Transaction
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                    </md-menu>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <span flex></span>
                </div>
                </md-toolbar>
                <div>
                <md-content  class="md-hue-1" layout="column" flex>
                    
                    <div  layout="column" flex style="height:70vh;">
                        <md-list class="md-body-1">
                            
                            <md-list-item  ui-sref="home.dashboard">
                                <md-list-content    md-ink-ripple layout="row" >
                                    <div class="inset">
                                        <ng-md-icon icon="dashboard"></ng-md-icon>
                                    </div>
                                    <div class="">Dashboard
                                    </div>
                                </md-list-content>
                            </md-list-item >
                            <md-list-item  ui-sref="home.groups">
                                <md-list-content    md-ink-ripple layout="row" >
                                    <div class="inset">
                                        <ng-md-icon icon="dashboard"></ng-md-icon>
                                    </div>
                                    <div class="">Groups
                                    </div>
                                </md-list-content>
                            </md-list-item >
                            <md-divider></md-divider>
                            <md-list-item ui-sref="account.users"  aria-label="goups">
                                <md-list-content  ng-click="toggleSideBar('left')"  ui-sref="home." md-ink-ripple layout="row" > 
                                    <div class="inset">
                                        <ng-md-icon icon="group"></ng-md-icon>
                                    </div>
                                    <span >Users</span>
                                </md-list-content>
                            </md-list-item>
                            <md-list-item ng-click="nextTheme()">
                                <md-item-content md-ink-ripple layout="row" >
                                    <div class="inset">
                                        <ng-md-icon icon="format_color_fill"></ng-md-icon>
                                    </div>
                                    <span>Change color</span>
                                </md-item-content>
                            </md-list-item>
                            
                        </md-list>
                    </div>
                <md-content>
                </div>
                <footer flex="none" class="bg-gray-transerent" style="">
                    <div layout="column"  layout-align="center center">
                        <span></span>
                        
                    </div>
                </footer>
                
            </md-sidenav>

            <md-content class="transperent-bg" layout="column" flex>
                <div  ui-view  layout="column" flex >

                </div>

            </md-content>
        </div>
    </div>
<!--     <footer flex="none" class="bg-gray-transerent" style="height:5vh;">
        <div layout="column"  layout-align="center center">
            <span>Colaboration platform v1.5</span>
            <span>copy rights 2016</span>
        </div>
    </footer> -->
</md-content>
